*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #282c34;
}

.App-main {
  min-height: 40vh;
  min-width: 50vw;
  border: 5px solid #61DBFB;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 3;
  background-color: #61DBFB;
  border: 1px solid #61DBFB;
  border-radius: 10px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  width: 100%;
  border: 1px solid #61DBFB;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.my-button {
  min-width: 45%;
  font-size: 40px;
  background-color: #61DBFB;
  border-radius: 20px;
}

.max-value {
  color: red;
}
